<footer class="footer text-center">
        <div class="container">
            <p></p><a href="#">Home|</a>
            <a href="#">About|</a>
            <a href="#">BeatBot News|</a>
            <a href="#" id="contact" data-toggle="modal" data-target="#display-contact">Contact Us</a>
        </div>
</footer>