
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="row">
            <div class="col-sm-3">
                <a class="navbar-brand" href="#"><img src="images/BeatBot-Logo.png" height="100"></a>
            </div>
            <div class="col-sm-8">
                <p>BeatBot</p>
                <p id="slogan">The best way to find your music</p>
            </div>
        </div>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#display-top10" id="top10" onclick="topTen()">Top 10 songs</button>
    </nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View History By</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Song</a>
                        <a class="dropdown-item" href="#">Artist</a>
                        <a class="dropdown-item" href="#">Album</a>
                    </div>
                </div>
                <p id="content"> Display content according to the search history selected by the user here</p>
            </div>
            <div class="col-sm-8 text-center">
                <h1 class="text-center" id="find-music">Find Music</h1>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="input-group" id="search-text">
                            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                            <span class="input-group-btn">
                                                 <button class="btn btn-outline-success" type="button">Search</button>
                                                 <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Song</a>
                                <a class="dropdown-item" href="#">Artist</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-2 sidenav">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome User<i class="fa fa-user-circle"></i></button>
                    <div class="dropdown-menu text-center">
                        <p><a class="dropdown-item" href="#">History<i class="fa fa-history"></i></a></p>
                        <p><a class="dropdown-item" href="#">Settings<i class="fa fa-cog"></i></a></p>
                        <p><a class="dropdown-item" href="#">Logout<i class="fa fa-sign-out"></i></a></p>
                    </div>
                </div>
                <p>Display content here</p>
            </div>
        </div>
    </div>

    {{> top10}}
    {{> contactus}}
    {{> footer}}

    <!-- Bootstrap jQuery -->

    {{> scripts}}
 