p#main-heading {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
}

button#user-button {
    margin-top: 10px;
}

button.btn.btn-outline-success.dropdown-toggle,
#find-music,
#content,
#welcome-user,
#search-text,
#checkbox,
#top10 {
    margin-top: 50px;
}

i.fa.fa-user-circle,
i.fa.fa-history,
i.fa.fa-cog,
i.fa.fa-apple,
i.fa.fa-spotify,
i.fa.fa-sign-out,
#checkbox {
    margin-left: 5px;
}

.footer {
    clear: both;
    margin-top: 450px;
}

p#slogan {
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: lightgray;
}

.nav-item {
    padding-left: 25px;
    padding-right: 25px;
}

.row.content {
    margin-top: 60px;
}

#message-text {
    height: 95px;
}

#searchInput {
    width: 100%;
    line-height: 2.4;
    border: 0;
    padding: 0 0 0 15px;
}

.form-control {
    padding: 0 !important;
    background-color: lightgray !important;
}

.col-sm-6.col-md-4 {
    margin-top: 30px;
}

.card {
    margin: 5px;
    margin-top: 20px;
}

div#display-songs {
    margin-top: 40px;
}
div#itunes,div#spotify {
    border: 2px solid;
    margin-left: 10px;
}

.snip1506 {
    position: relative;
    float: left;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 90%;
    width: 100%;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 14px;
    box-shadow: none !important;
  }
  .snip1506 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .snip1506 .profile-image {
    width: 26%;
  }
  .snip1506 .profile-image img {
    border-radius: 5px;
    max-width: 100%;
    width:100px;
    height:100px;
    vertical-align: top;
  }
  .snip1506 .profile-image,
  .snip1506 figcaption {
    float: left;
  }
  .snip1506 figcaption {
    width: 70%;
    background-color: #333333;
    color: #fff;
    padding: 11px;
    display: inline-block;
    margin-left: 4%;
    border-radius: 5px;
  }
  .snip1506 figcaption:after {
    content: '';
    position: absolute;
    right: 70%;
    top: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #333333 transparent transparent;
  }
  .snip1506 h3,
  .snip1506 h4,
  .snip1506 p {
    margin: 0 0 5px;
  }
  .snip1506 h3 {
    font-weight: 600;
    font-size: 1.2em;
  }
  .snip1506 h4 {
    color: #8c8c8c;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .snip1506 p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  .snip1506 .icons {
    text-align: center;
    width: 100%;
  }
  .snip1506 i {
    padding: 10px 2px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    opacity: 0.75;
  }
  .snip1506 i:hover {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1506 a {
    text-decoration: none;
  }
  