<!DOCTYPE html>
<html>
    <head>
        <title>Passport with Sequelize</title>
    </head>
    <body>
        <h2>Dashboard</h2>
        <h5>Hurray! you are logged in.</h5>

        {{#if reqs}}
            {{reqs.firstname}} <br/>
            {{reqs.second}} <br/>
            {{reqs.email}} <br/><br/>
        {{/if}}
        {{#if val}}
            {{val.email}}
        {{/if}}
        <a href="/logout">Logout!</a>
    </body>
</html>